.header-container {
  background: url(/assets/img/background-top.jpg);
  background-size: cover;
  box-shadow: 0 3px 5px -2px #17434e55;
}

.top-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  padding: 50px 150px;
  align-items: center;
  gap: 15px;
}
.top-content svg {
  grid-column: 2;
  grid-row: 2 / 4;
  place-self: end end;
}

.top-content a {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-row: 3;
  place-self: start start;
}

.top-content h4 {
  grid-row: 2;
  line-height: 1.4;
}

.top-content h1 {
  text-transform: uppercase;
  line-height: 1.2;
}

.secao1 {
  width: 100%;
}

.secao1-container {
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.secao1-container h4 {
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 50px 30px;
  box-shadow: 0 3px 5px -2px #17434e55;
}

.t-deco {
  background: url(/assets/img/greve\ 1.png) no-repeat center right;
  padding: 0 80px;
  font-size: 6.1rem;
  color: var(--v3);
  opacity: 30%;
}

.secao2 {
  width: 100%;
  background-color: #fff;
}

.secao2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 100px 150px;
}

.secao2-container h1 {
  position: relative;
}
.secao2-container h1::before {
  content: url(/assets/img/deco-titulo2.png);
  position: absolute;
  left: -40px;
  top: -45px;
}

.secao2-container img {
  grid-row: 1 / 4;
  grid-column: 2;
  place-self: center;
}

.secao2-container ul {
  display: grid;
  gap: 20px;
  grid-row: 2 / 5;
  place-self: center start;
}

.secao2-container li {
  display: flex;
}

.secao2-container li svg {
  width: 100px;
}

.secao2-container li h4 {
  padding: 0 20px;
  line-height: 1.5;
}

.secao2-container a {
  grid-row: 4;
  grid-column: 2;
}

.secao3 {
  padding: 50px 150px;
}

.t-s3 {
  position: relative;
  padding: 50px 0;
}

.t-s3::before {
  position: absolute;
  content: url(/assets/img/cliente.png);
  left: -40px;
  top: 15px;
}
#contato {
  background: var(--v8);
  color: var(--v1);
  padding: 80px 100px 10px 100px;
}
#contato p {
  margin: 0;
  padding: 0;
}
#contato h4 {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

#logo-b {
  padding-top: 30px;
}
#logo-b img {
  width: 7rem;
}
.contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}
.endereco {
  display: grid;
  grid-template-rows: auto auto 1fr;
  row-gap: 20px;
}
.mapa {
  border-radius: 5px;
  max-width: 550px;
}
.titulo-5 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, auto);
  justify-content: start;
  gap: 15px;
}
.titulo-5 h4 {
  grid-column: 1/-1;
}
.titulo-5 svg {
  width: 25px;
  transition: all ease-in 0.3s;
}
.titulo-5 svg:hover path {
  fill: var(--s1);
  transition: all ease-in 0.3s;
}
.contato-item {
  display: grid;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}
.contato-item a {
  color: var(--v1);
  transition: all ease-in 0.3s;
}
.contato-item a:hover {
  color: var(--s1);
}
form {
  display: grid;
  grid-template-columns: auto;
}
.my-form {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  gap: 0.5rem;
  padding-top: 1.2rem;
}
.my-form input {
  border: 1px solid var(--v4);
  border-radius: 5px;
  height: 2rem;
  width: 100%;
  background: var(--v3);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
.my-form input:focus {
  outline: 2px solid var(--v6);
  background: var(--v2);
}
.my-form label {
  margin-bottom: 8px;
}
textarea {
  width: 100%;
  height: 5rem;
  background: var(--v3);
  border-radius: 5px;
  resize: none;
}
textarea:focus {
  outline: 2px solid var(--v6);
  background: var(--v2);
}
.my-form button {
  background: var(--v7);
  color: var(--v1);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid var(--v1);
  padding: 5px 15px;
  place-self: end;
}
#copyright {
  display: block;
  background: var(--v8);
  font-size: 12px;
  font-weight: 400;
  color: var(--v1);
  text-align: center;
  padding: 2rem 0;
}
#copyright p,
.copyright a {
  color: var(--v1);
  margin: 0;
}
p a {
  color: var(--v1);
  text-decoration: underline;
  transition: all ease-in 0.3s;
}
p a:hover {
  color: var(--s1);
}
