.header-container {
  position: fixed;
  width: 100%;
  background: url(/assets/img/background-top.jpg) no-repeat right top;
  background-size: cover;
}

.top-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  padding: 50px 150px;
  align-items: center;
  gap: 15px;
}
.top-content svg {
  grid-column: 2;
  grid-row: 2 / 4;
  place-self: end end;
}

.top-content ul {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-row: 3;
  place-self: start start;
}

.top-content h4 {
  grid-row: 2;
  line-height: 1.4;
}

.top-content h1 {
  text-transform: uppercase;
  line-height: 1.2;
}
