.header-container {
  background: url(/assets/img/top_pic.jpg);
  background-size: cover;
  box-shadow: 0 3px 5px -2px #17434e55;
}

.top-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  padding: 50px 150px;
  align-items: center;
  gap: 15px;
}
.top-content svg {
  grid-column: 2;
  grid-row: 2 / 4;
  place-self: end end;
}

.top-content a {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-row: 3;
  place-self: start start;
}

.top-content h4 {
  grid-row: 2;
  line-height: 1.4;
}

.top-content h1 {
  text-transform: uppercase;
  line-height: 1.2;
}

@media screen and (max-width: 999px) {
  .top-content {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
  .top-content h1 {
    grid-row: 2;
  }
  .top-content h4 {
    grid-row: 3;
  }
  .top-content a {
    grid-row: 4;
  }

  .top-content svg {
    grid-row: 1;
    grid-column: 1;
    place-self: center;
  }
}

.secao1 {
  width: 100%;
  margin: 0 auto;
}

.secao1-container {
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.secao1-container h1,
.secao1-container svg {
  grid-column: 1;
}

.secao1-container h1 {
  grid-row: 2 / 3;
  font-size: 2.8rem;
  line-height: 1.3;
  color: var(--v5);
  padding: 10px 50px 50px 50px;
}

.paragrafo {
  display: grid;
  grid-column: 2;
  grid-row: 1 / 3;
  gap: 20px;
  font-size: 1.3rem;
  color: var(--v8);
  background: #fff;
  padding: 50px;
  border-radius: 5px;
  line-height: 1.4;
  box-shadow: 0 3px 5px -2px #17434e55;
}

.paragrafo a {
  color: var(--v6);
  font-weight: 600;
}

#p0 {
  font-size: 0.9rem;
  color: var(--v6);
  line-height: 1.3;
  font-weight: 600;
}

.secao2 {
  width: 100%;
  background-color: #fff;
}

.secao2-container {
  display: grid;
  padding: 100px 150px;
}
.img-ailton {
  max-width: 60%;
  display: grid;
  justify-items: center;
  row-gap: 20px;
}

.title2 h1 {
  z-index: 555;
}

.title2::after {
  content: url(/assets/img/warranty.svg);
  transform: scale(70%);
  position: absolute;
  top: -50px;
  left: 350px;
}

.secao3 {
  padding: 50px 150px;
  min-height: 400px;
}

@media screen and (max-width: 950px) {
  .secao3 {
    padding: 80px 80px;
  }
}

.t-s3 {
  position: relative;
  padding: 50px 0;
}

.t-s3::after {
  content: url(/assets/img/rating.svg);
  position: absolute;
  transform: scale(70%);
  top: -20px;
  right: 220px;
}
.t-s3 h1 {
  position: relative;
  z-index: 555;
}

.swiper-container {
  min-height: 300px;
}

.swiper-slide {
  min-height: 280px;
  border-radius: 5px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 3px 5px -2px #17434e55;
}

@media screen and (max-width: 670px) {
  .secao3 {
    padding: 40px 20px;
  }
  .t-s3::before {
    display: none;
  }
}
#contato {
  background: var(--v6);
  color: var(--v1);
  padding: 80px 100px 10px 100px;
}

#contato h4 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  padding: 0 100px;
}

@media screen and (max-width: 1100px) {
  #contato {
    padding: 80px 50px 10px 50px;
  }

  .contato-container {
    padding: 0 30px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .contato-container {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
.endereco {
  display: grid;
  grid-template-rows: auto auto 1fr;
  row-gap: 20px;
}
.mapa {
  border-radius: 5px;
  max-width: 550px;
}
.titulo-5 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, auto);
  justify-content: start;
  gap: 15px;
}
.titulo-5 h4 {
  grid-column: 1/-1;
}
.titulo-5 svg {
  width: 25px;
  transition: all ease-in 0.3s;
}
.titulo-5 svg:hover path {
  fill: var(--s1);
  transition: all ease-in 0.3s;
}
.contato-item {
  display: grid;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}
.contato-item a {
  color: var(--v1);
  transition: all ease-in 0.3s;
}
.contato-item a:hover {
  color: var(--s1);
}
form {
  display: grid;
  grid-template-columns: auto;
}
.my-form {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  gap: 0.5rem;
  padding-top: 1.2rem;
}
.my-form input {
  border: 1px solid var(--v4);
  border-radius: 5px;
  height: 2rem;
  font-size: 1rem;
  width: 100%;
  padding: 5px 10px;
  background: var(--v3);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
.my-form input:focus {
  outline: 2px solid var(--v6);
  background: var(--v2);
}
.my-form label {
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  height: 5rem;
  padding: 5px 10px;
  background: var(--v3);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  resize: none;
}
textarea:focus {
  outline: 2px solid var(--v6);
  background: var(--v2);
}

.my-form button {
  background: var(--v7);
  color: var(--v1);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid var(--v1);
  padding: 5px 15px;
  place-self: end;
}
#copyright {
  display: block;
  background: var(--v6);
  font-size: 12px;
  font-weight: 400;
  color: var(--v1);
  text-align: center;
  padding: 2rem 0;
}
#copyright p,
.copyright a {
  color: var(--v1);
  margin: 0;
}
p a {
  color: var(--v1);
  text-decoration: underline;
  transition: all ease-in 0.3s;
}
p a:hover {
  color: var(--s1);
}

#float-wpp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: #25d366;
  transition: 0.3s ease-out;
}

#float-wpp:hover {
  background-color: #128c7e;
}
