.p-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;
  gap: 15px;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 2px 0 4px -3px rgba(0, 0, 0, 0.5);
  background-color: var(--v5);
  text-transform: uppercase;
  font-weight: 600;
  transition: ease-in 0.3s;
}

.p-btn:hover {
  background-color: var(--v7);
  color: var(--v2);
}

.s-btn {
  display: flex;
  border: 1px solid var(--v1);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  color: var(--v1);
  font-weight: 600;
  gap: 15px;
  align-items: center;
  justify-self: center;
  place-self: center;
}

.s-btn:hover {
  background: var(--v1);
  color: var(--v7);
  transition: all ease-in 0.3s;
}

.s-btn:hover path {
  fill: var(--v7);
  transition: all ease-in 0.3s;
}

@media screen and (max-width: 999px) {
  .s-btn {
    font-weight: 400;
  }
}

.font-xl {
  font-size: 2rem;
}

.font-m {
  font-size: 1.5rem;
}

.font-s {
  font-size: 1.1rem;
}

.c-v1 {
  color: var(--v1);
}
.c-v2 {
  color: var(--v2);
}
.c-v3 {
  color: var(--v3);
}
.c-v4 {
  color: var(--v4);
}
.c-v5 {
  color: var(--v5);
}
.c-v6 {
  color: var(--v6);
}
.c-v7 {
  color: var(--v7);
}
.c-v8 {
  color: var(--v8);
}

.c-s1 {
  color: var(--s1);
}
